SYSTEM_MESSAGE=       # optional - sent to a new user's inbox upon registering
PORT=7000             # port this server listens on (HTTP)
WS_PORT=7001          # port this server listens on (WEBSOCKET)
SERVER_NAME=          # name of this server - shows up on the server's sample page
SERVER_DESCRIPTION=   # description for this server - shows up on the server's sample page
LOG_LEVEL=            # log level - accepted values: "trace", "error" - default is "error"
